.sign-in-screen-logo {
  margin: 50px 0;
  height: 250px;
}

.sign-in-card {
  color: #22F0DD;
}

.sign-in-card > h4 {
  font-weight: 100;
  font-size: 23px;
  margin-bottom: 20px;
}

.sign-in-card > input,
.sign-in-card > input:active,
.sign-in-card > input:focus {
  color: inherit;
  margin: 20px auto;
  width: 75%;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #22F0DD;
}

.sign-in-card > input::-webkit-input-placeholder {
  color: #22F0DD !important;
}

.sign-in-card > input:-moz-placeholder { /* Firefox 18- */
  color: #22F0DD !important;
}

.sign-in-card > input::-moz-placeholder {  /* Firefox 19+ */
  color: #22F0DD !important;
}

.sign-in-card > input:-ms-input-placeholder {
  color: #22F0DD !important;
}

.sign-in-card > button, .sign-in-card > button:focus,
.sign-in-card > button:hover, .sign-in-card > button:active,
.sign-in-card > button:active:focus,
.sign-in-card > button:active:hover {
  background-color: #22F0DD;
  background-image: none;
  color: #FFFFFF;
  font-size: 16px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
  border-radius: 3px;
  border-color: transparent;
  padding: 10px 50px;
  margin: 20px auto;
  outline: none;
}
